<%- include("partials/header.ejs") %>


<div class="container">
    <nav>
        <div class="navbar">
            <li>
                <i class="fa fa-calendar"></i>
                <a href="/">Today</a>
            </li>
            <li>
                <i class="fa fa-paste"></i>
                <a href="/work">Work</a>
            </li>
        </div>
    </nav>


    <div class="todo-content">

        <div class="title-form-container">
            <div class="content-title">
                <% if (locals.weekName && locals.monthName && locals.dateToday) { %>
                    <%= weekName +", "+ monthName +" "+ dateToday%>
                <% } %>
            </div>
            <div class="form-input">
                <form action="/" method="post">
                    <input type="text" name="todo-item" placeholder="Enter a new item" required>
                        <button type="submit" name="button">
                            <i class="fa fa-plus"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="list-container">

                <form action="/" method="post">

                    <div class="list-item">
                        <% if (locals.list) { %>
                            <% for(var i=0; i<list.length; i++) { %>
                                <input class="checkbox" onclick="addItems()" type="checkbox" name="check" value="<%=list._id %>">
                                    <p class="items"><%= list[i] %></p>
                                    <hr>
                                    <% } %>
                                <% } %>

                            </div>

                        </form>
                    </div>
                </div>


            </div>

            <%- include("partials/script.ejs") %>
